* {
  margin: 0;
  font-family: cursive;
  box-sizing: border-box;
}

body {
  background-image: url(./cofe.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-y: hidden;
  width: 100%;
  height: 100vh;
}

section {
  margin: 5%;
}

div {
  color: white;
  background-color: rgba(0, 0, 0, 0.527);
  text-align: center;
  border-radius: 20px;
  padding: 10%;
}

h2,
button,
p {
  margin-top: 20px;
  margin-bottom: 20px;
}
